<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Memes</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-social.css" rel="stylesheet" />
    <meta property="fb:app_id" content="1428364047191112" />
    <meta name="title" content="Utilize a imaginação">
    <meta name="description" content="Clique e faça seus próprios MEMES!" />
    <meta property="og:title" content="Utilize a imaginação" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Clique e faça seus próprios MEMES!" />
    <meta property="og:url" content="http://geradormeme.net" />
    <meta property="og:site_name" content="geradorMemes" />
    <meta property="og:image" content="http://geradormeme.azurewebsites.net/Content/img/pirqui/resultado.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:height" content="500" />
    <meta property="og:image:width" content="900" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="GeradorMemes">
    <link rel="apple-touch-icon" href="~/Content/img/icons/icon-152x152.png">
    <meta name="msapplication-TileImage" content="~/Content/img/icons/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">
    <link rel="manifest" href="https://geradormeme.azurewebsites.net/Content/manifest.json">
    <script>
        
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1428364047191112',
                xfbml: true,
                version: 'v2.8'
            });
        };
   
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        (function() {
            'use strict';


            // TODO add service worker code here
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker
                         .register('/Scripts/service-worker.js')
                         .then(function () { console.log('Service Worker Registered'); });
            }


        })();
    </script>
    
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div id="fb-root"></div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Gerador de Memes", "Index", "Home",null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                    <li>@Html.ActionLink("Criador", "Creator", "Personal")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Desenvolvido por José Cléber dos Santos</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/app/model/pirqui.js"></script>
</body>
</html>