<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-social.css" rel="stylesheet" />
    <script>
        var myLink = "http://geradormeme.azurewebsites.net";
        var myTitle = "";
        var myExcerpt = "";
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1428364047191112',
                xfbml: true,
                version: 'v2.8'
            });


            document.getElementById('myshare').onclick = function(e) {
                e.preventDefault();
                FB.ui({
                    method: 'feed',
                    'link': myLink,
                    'picture':  @Url.Content("~/Content/img/pirqui/resultado.jpg"),
                    'name': myTitle,
                    'caption': 'Gerador de Memes',
                    'description': myExcerpt
                }, function (response) {
                    if (response && response.post_id) {
                        alert("Thanks. This has been posted onto your timeline.");
                    } else {
                        alert("The post was not published.");
                    } //Response from post attempt
                });
            }


            
        };



        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Gerador de Memes", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Desenvolvido por José Cléber dos Santos</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/app/model/pirqui.js"></script>
</body>
</html>